//color
$c-primary: #2196f3;
$white: #fff;
$lightGreen: #8bc34a;
//nav
$c-gray: #9e9e9e;
 
//social
$twitter: #00aced;
$facebook: #3b5998;
$google-plus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$tumblr: #32506d;
$reddit: #FF5700;
$email: #dd4b39;

//footer

$footermid-bg-color: #363839 ;
$footermid-color:	#ddd;
$footerend-b-color: #4b4c4d;
$footerend-bg-color: #282a2b;
